/* Variables */
:root {
  --black: #000;
  --charcoal: #b52929;
  --pond-bottom: #264a46;
  --teal: #63725b;
  --twilight: #766c5b;
  --ocean: #792589;
  --ubergine: #6a2352;
  --petal: #f4e9f3;
  --ink: #f8f7f4;
  --anti: #8c857a;
  --white: #fff;
  --slate: #8892b0;
  --sea-glass: #7fd1ae;
  --ocean-green: #46571e;
  --lignt-gray: #9fc0db;
  --lime: #96b74c;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --lignt-green: #8dd4d5;
  --gray-dark: #82bdd9;
  --nute: #d6d3c6;
  --peach: #e98074;
  --peach-dark: #b3584e;
  --coffee: #8e8d8a;
  --gray: #e85a4f;
  --font-family-main: sans-serif;
  --font-family-secondary: "Cormorant", serif;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
}

/* utility classes */

.m-sm {
  margin: var(--space-sm);
}
.m-md {
  margin: var(--space-md);
}
.m-lg {
  margin: var(--space-lg);
}
.p-sm {
  padding: var(--space-sm);
}
.p-md {
  padding: var(--space-md);
}
.p-lg {
  padding: var(--space-lg);
}

/* grid system */
.span-2 {
  flex-basis: 15%;
}
.span-3 {
  flex-basis: 23.5;
}

.span-4 {
  flex-basis: 32%;
}
.span-8 {
  flex-basis: 66%;
}
.span-9 {
  flex-basis: 74.5;
}
.span-10 {
  flex-basis: 83%;
}

/* base styling */

body {
  background: var(--white);
  color: var(--black);
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-main);
  box-sizing: border-box;
}

p {
  line-height: 1.5;
}
h1,h2{
    font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;

  font-family: var(--font-family-secondary);
}

h3,
h4{
  font-size: 1.5rem;
}
h5,
h6{
    font-size: 1rem;
}

a {
  color: var(--peach);
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* components */

.menu a {
  color: white;
}

.menu a:hover {
  color: var(--nute);
  transition: 0.5s;
}
.menu a.resume {
  font-weight: bold;
}
.menu a.resume:hover {
  color: white;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

main.container {
  margin: 130px auto 0;
  box-sizing: border-box;
  max-width: 980px;
  padding: 1rem;
}

.social-media {
  display: flex;
  margin: 1rem;
  justify-content: center;
}

.social-media i {
  font-size: 1.2rem;
  display: block;
  margin: 1rem;
  color: var(--ocean-green);
}

.button {
  border: none;
  background: var(--peach);
  display: inline-block;
  padding: 10px 20px;
  color: var(--white);
  text-align: center;
}

.button:hover {
  background-color: var(--peach-dark);
  transition: 0.5s;
  border: none;
}

.menu {
  font-family: var(--font-family-secondary);
  display: flex;
  align-items: center;
}

.menu ul {
  display: flex;
}

.menu li {
  padding: 20px;
}

.header {
  display: flex;
  background: var(--twilight);
  justify-content: space-between;
  align-items: center;
  padding: var(--space-md);
  position: fixed;
  top: 0;
  width: 100%;
  padding: var(--space-md);
  box-sizing: border-box;
  box-shadow: 0px 2px 14px rgb(0 0 0 / 20%);
  z-index: 999;
  font-size: 1.1rem;
}
.header .hamburger {
  display: none;
}
.logo h6 {
  font-size: 50px;
  color: var(--petal);
  margin: 0;
  padding: 10px;
}

.heading {
  gap: 2%;
  display: flex;
  align-items: center;
  margin: 80px 0;
}

.heading h3 {
  font-size: 2rem;
}

.heading span {
  font-size: 20px;
}

.intro .name p {
  color: var(--teal);
  font-size: 1.5rem;
  font-family: var(--font-family-secondary);
}

.intro h1 {
  font-size: 2.5rem;
}

.intro h2 {
  font-size: 1.5rem;
  padding: 5px 0;
  color: var(--teal);
}

.intro .button {
  width: 160px;
}

.border {
  border: 1px solid var(--slate);
  width: 300px;
}

.border.vertical {
  width: 0;
  height: 150px;
  margin: 0 auto;
}

.intro-detail p {
  max-width: 520px;
  line-height: 1.5rem;
  margin-bottom: 80px;
}

.intro-detail a {
  color: var(--sea-glass);
}

.intro-detail a:hover {
  color: var(--pond-bottom);
  text-decoration: underline;

  transition: 0.5s;
}

.aboutme {
  /* margin: 80px 0; */
  box-sizing: border-box;
}

.about-me-details {
  display: flex;
  flex-basis: 48%;
  gap: 2%;
  box-sizing: border-box;
  background-color: var(--ocean-green);
  color: #fff;
  gap: 5%;
  padding: 0.5rem;

  font-family: "Cormorant";
  font-size: 23px;
  align-items: center;
}

.profile-pic {
  width: 100%;
}

.exp-details {
  display: flex;
  gap: 2%;
}
 
.tab{
    padding: 15px 25px;
      font-size: 20px;    
      border: none;
      width:100%;
}

.exp-details .tab-panel-box {
  padding: 10px 15px;    
  font-size: 15px;
  line-height: 1.5;
  color: var(--ice);
}

ul.tabs li {
  border-left: 3px solid var(--slate);
  border-bottom: 1px solid #ddd;
}

ul.tabs li.active button,
ul.tabs li:hover button{
  border-left-color: var(--ocean-green);
  color: var(--white);
  cursor: pointer;
  background-color: var(--ocean-green);
}

.tab-panel h3
{
  font-size: 2rem;
  margin-bottom: 10px;
}
.tab-panel h5,.tab-panel h4{
  font-size: 1.5rem;
}

.tab-panel {
  position: relative;
}

.tab-panel ul {
  padding: 0 15px;
}

.tab-panel li:before {
  content: "➛";
  position: absolute;
  left: 0px;
  color: var(--teal);
}


.panel li{
  padding :7px 0;
}
.project-details h5:hover,
.project-details h2:hover {
  color: var(--teal);
}

.project-details {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  margin-bottom: 80px;
}

.reverse .project-image {
  grid-column: 6/-1;
}

.reverse .project-desc {
  grid-column: 1/8;
}

.reverse .project-desc h2,
.reverse .project-desc h5 {
  text-align: left;
}

.reverse ul.project-tags {
  justify-content: flex-start;
}

.project-image {
  grid-row: 1/2;
  grid-column: 1/8;
  position: relative;
}
.project-image::before {
  content: " ";
  mix-blend-mode: screen;
  background-color: var(--teal);
  width: 100%;
  height: 100%;
  position: absolute;
}

.project-desc {
  grid-row: 1/2;
  grid-column: 5/-1;

  z-index: 1;
}

.project-desc h2,
.project-desc h5 {
  text-align: right;
}

.project-details p {
  background: var(--ocean-green);
  color: var(--petal);
  padding: 1.5rem;
  align-items: center;
}

.project-tags {
  display: flex;
  justify-content: flex-end;
}

.project-tags li {
  margin-left: 1rem;
}

.project-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 80px;
}

.project-item {
  background-color: var(--ink);
  color: var(--anti);
  transition: transform 300ms;
  padding: 30px;
}

.project-item:hover {
  transform: translateY(-8px);
}

.project-top {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  margin-bottom: 20px;
  color: var(--ice);
}
i.far.fa-external-link:hover,
i.fab.fa-github-alt:hover,
i.fas.fa-folder:hover {
  color: var(--charcoal);
  transition: 0.2s;
}

.polyline i {
  margin-right: 10px;
}

.project-title {
  margin: 25px 0 15px 0;
}
.project-title:hover h4,
.project-title:focus h4 {
  color: var(--ice);
  transition: 0.1s;
}

ul.project-list {
  display: flex;
}

ul.project-list li {
  padding-right: 1rem;
}

a.button.center,
.button.center {
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.get-intouch {
  max-width: 800px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.heading.center {
  display: inline-block;
  display: flex;
  justify-content: center;
}

form {
  background: var(--ocean-green);
  padding: 4rem;
  box-sizing: 0.5, 1, 0.5;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  color: var(--ink);
  margin: 4rem 0;
}
form h5 {
  font-size: 2rem;
}

.form-fields {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
}

form input,
form textarea {
  padding: 10px;
  margin: 15px 0;
  border: none;
  outline: none;
}

footer {
  padding: 1rem;
  text-align: center;
  margin-top: 3rem;

  background: var(--ink);
  color: var(--anti);
}
/* Media query */
@media (max-width: 700px) {
  .project-details {
    grid-template-columns: 1fr;
  }
  .project-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .header {
    display: flex;
    flex-wrap: wrap;
  }
  .menu {
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 100%;
  }
  .menu ul {
    flex-direction: column;
    display: none;
  }
  .header .hamburger {
    display: block;
    font-size: 1.5rem;
    flex-basis: 1.5rem;
    color: white;
  }
  .logo {
    text-align: center;
    flex-grow: 1;
  }
  .resume.button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
  }
  .header h6 {
    padding: 0;
    line-height: 1;
  }
  .about-me-details {
    flex-direction: column;
  }
  .about-info {
    margin: 1.5rem;
  }
  .exp-details {
    flex-direction: column;
  }
  .exp-details ul.tabs.span-4 {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
  }
  ul.tabs li {
    border-left: none;
    margin-right: 10px;
  }
  .exp-details ul.tabs li button[aria-selected="true"] {
    border-bottom: 3px solid var(--ice);
  }
  .exp-details ul.tabs li :hover,
  .exp-details ul.tabs li.active,.exp-details ul.tabs li button[aria-selected="true"] {
    border-bottom-color: var(--teal);
    background-attachment: fixed;
  }

  

  form h5 {
    font-size: 1.5rem;
  }
}

@media (max-width: 860px) {
  .nav {
    max-width: 1200px;
  }

  .md-span-6 {
    flex-basis: 49%;
  }
  .social-media {
    position: static;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  .social-media .border.vertical {
    display: none;
  }
  .project-image,
  .reverse .project-image {
    grid-row: 1/2;
    grid-column: 1/-1;
  }

  .project-desc,
  .reverse .project-desc {
    grid-row: 2/3;
    grid-column: 1/-1;

    margin: 2rem 0;
  }
}
